*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  font-family: Host Grotesk;
}

.navbar{
  z-index: 111;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: fixed;
}

.banner{
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

.logo_nav img{
  max-width: 150px;
}

.center{
  padding-top: 350px;  /* Asegura que el padding-top sea siempre 350px */
  display: flex;
  justify-content: center;
  align-content: center;
}

.image{
  display: flex;
  justify-content: center;
  align-content: center;
}

.image img{
  max-width: 80%;  /* Asegura que la imagen no exceda el tamaño del contenedor */
  height: auto;  /* Mantiene la proporción de la imagen */
  max-height: 200px;  /* Limita la altura de la imagen para que todas sean de tamaño uniforme */
  object-fit: contain;  /* Asegura que la imagen se ajuste sin distorsionarse */
}

.button{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button button{
  width: 70%;
  height: 40px;
  border: none;
  background: rgb(255, 255, 255,0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  color: white;
}

.movies{
    padding-top: 25%;
 }

.contain_carrusel{
  padding-top: 5%;
  margin-left: 10px;
}

.title h1{
  color: white;
  margin-left: 6px;
}

.carrusel{

  padding-top: 10px;
  display: flex;
  overflow-y: auto;
}

.card{
  margin-left: 10px;
}

.card img{
  max-width: 150px;
  border-radius: 10px;
}

.card img:hover{
  transform: scale(1.02);
}





/* Estilos para la navbar inferior */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.inferior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(12px);
  color: white;
  padding: 10px 0;
}

.inferior button{
    background: transparent;
    border: none;
    }

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
}



.nav-link i {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Efecto hover */
.nav-link:hover {
  color: gray;
}
